.header {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  gap: 16px;
}

.header h2 {
  flex-grow: 1;
}
.userProfile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: var(--accent);
  border-radius: 50%;
}